<div>
    <h1>Departamentos</h1>
    @if(departamentos){
    <table>
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nombre</th>
                <th>Localidad</th>
            </tr>
        </thead>
        <tbody>
            @for(departamento of departamentos; track departamento){
            <tr>
                <td>{{departamento.numero}}</td>
                <td>{{departamento.nombre}}</td>
                <td>{{departamento.localidad}}</td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>